.main{
    background-color:green;
    width: 100%;
    height:40%;
    padding: 20px;
    overflow: hidden;
    margin:30px;
}
.contentsec{
    width:60%;
    height:40vh;
    float:left;
    background-color:yellow;
}
.imagesec{
    width:40%;
    height:40vh;
    float:right;
    background-color:blue;
}
.imagebox{
    width:80%;
    height:80%;
    margin: auto;
    margin-top:10%;
    border:2px solid black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    overflow:hidden;
}
